# merge dataframes together

In [1]:
import numpy as np
import pandas as pd

In [2]:
"""
ThinkPad P14s Gen1
output_20240112233221

ThinkPad X390
output_20240112233601

EliteBook 1040
output_20240113001014

"""

'\nThinkPad P14s Gen1\noutput_20240112233221\n\nThinkPad X390\noutput_20240112233601\n\nEliteBook 1040\noutput_20240113001014\n\n'

In [3]:
# Replace 'your_file_path.pkl' with the actual path to your pickle file
file_path_p14s = 'output_20240112233221.csv'
file_path_x390 = 'output_20240112233601.csv'
file_path_elite = 'output_20240113001014.csv'
#file_path = 'output_20240112140539.pkl'

# Load the DataFrame
try:
    df_p14s = pd.read_csv(file_path_p14s, delimiter=';')
    print("DataFrame loaded successfully.")
    # Now you can work with the loaded DataFrame (df)
except FileNotFoundError:
    print(f"File not found at path: {file_path_p14s}")
except Exception as e:
    print(f"An error occurred: {e}")

# Load the DataFrame
try:
    df_x390 = pd.read_csv(file_path_x390, delimiter=';')
    print("DataFrame loaded successfully.")
    # Now you can work with the loaded DataFrame (df)
except FileNotFoundError:
    print(f"File not found at path: {file_path_x390}")
except Exception as e:
    print(f"An error occurred: {e}")

# Load the DataFrame
try:
    df_elite = pd.read_csv(file_path_elite, delimiter=';')
    print("DataFrame loaded successfully.")
    # Now you can work with the loaded DataFrame (df)
except FileNotFoundError:
    print(f"File not found at path: {file_path_elite}")
except Exception as e:
    print(f"An error occurred: {e}")

DataFrame loaded successfully.
DataFrame loaded successfully.
DataFrame loaded successfully.

In [4]:
whos

Variable          Type         Data/Info
----------------------------------------
df_elite          DataFrame        Unnamed: 0  exec_time<...>   True  \n31      True
df_p14s           DataFrame        Unnamed: 0  exec_time<...>   True  \n31      True
df_x390           DataFrame        Unnamed: 0  exec_time<...>   True  \n31      True
file_path_elite   str          output_20240113001014.csv
file_path_p14s    str          output_20240112233221.csv
file_path_x390    str          output_20240112233601.csv
np                module       <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
pd                module       <module 'pandas' from '/h<...>ages/pandas/__init__.py'>

In [5]:
df_elite['CPU'] = "i7-4600U"
df_p14s['CPU'] = "Ryzen_7_4750U"
df_x390['CPU'] = "i5-8365U"
df_elite['num_of_cores'] = 2
df_x390['num_of_cores'] = 4
df_p14s['num_of_cores'] = 8
#df_p14s['machine'] = "HP EliteBook 1040 G1"
#df_p14s['machine'] = "HP EliteBook 1040 G1"
#df_elite['machine'] = "HP EliteBook 1040 G1"

In [6]:
df_raw = pd.concat([df_elite, df_p14s], ignore_index=True)

In [7]:
df_raw.head()

,Unnamed: 0,exec_time,dim,sparse,type,n_loops,sleep,cpu_info,curr_time,env,triangle,CPU,num_of_cores
0,0,0.000399,100,False,True,3,0.0,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240113000620,script,False,i7-4600U,2
1,1,0.000539,100,False,True,3,0.3,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240113000621,script,False,i7-4600U,2
2,2,0.000326,100,False,True,9,0.0,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240113000621,script,False,i7-4600U,2
3,3,0.000579,100,False,True,9,0.3,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240113000624,script,False,i7-4600U,2
4,4,0.000285,100,False,False,3,0.0,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240113000624,script,False,i7-4600U,2

In [8]:
df_raw.describe()

,Unnamed: 0,exec_time,dim,n_loops,sleep,curr_time,num_of_cores
count,64.000000,64.000000,64.00000,64.000000,64.000000,6.400000e+01,64.000000
mean,15.500000,0.695974,2550.00000,6.000000,0.150000,2.024011e+13,5.000000
std,9.306083,0.857150,2469.36789,3.023716,0.151186,3.868460e+05,3.023716
min,0.000000,0.000254,100.00000,3.000000,0.000000,2.024011e+13,2.000000
25%,7.750000,0.001676,100.00000,3.000000,0.000000,2.024011e+13,2.000000
50%,15.500000,0.335342,2550.00000,6.000000,0.150000,2.024011e+13,5.000000
75%,23.250000,1.047796,5000.00000,9.000000,0.300000,2.024011e+13,8.000000
max,31.000000,2.230227,5000.00000,9.000000,0.300000,2.024011e+13,8.000000

In [9]:
df_raw.to_csv(f'df_raw_1.csv', sep=';', index=False)
df_raw.to_pickle(f'df_raw_1.pkl')

## second try (WITH CENTERPOINTS):

In [10]:
# Replace 'your_file_path.pkl' with the actual path to your pickle file
file_path_p14s = 'output_20240114021107_p14scenterpoints.csv'
file_path_x390 = 'output_20240114020024_x390centerpoints.csv'
file_path_elite = 'output_20240114021036_elitebookcenterpoints.csv'
#file_path = 'output_20240112140539.pkl'

# Load the DataFrame
try:
    df_p14s = pd.read_csv(file_path_p14s, delimiter=';')
    print("DataFrame loaded successfully.")
    # Now you can work with the loaded DataFrame (df)
except FileNotFoundError:
    print(f"File not found at path: {file_path_p14s}")
except Exception as e:
    print(f"An error occurred: {e}")

# Load the DataFrame
try:
    df_x390 = pd.read_csv(file_path_x390, delimiter=';')
    print("DataFrame loaded successfully.")
    # Now you can work with the loaded DataFrame (df)
except FileNotFoundError:
    print(f"File not found at path: {file_path_x390}")
except Exception as e:
    print(f"An error occurred: {e}")

# Load the DataFrame
try:
    df_elite = pd.read_csv(file_path_elite, delimiter=';')
    print("DataFrame loaded successfully.")
    # Now you can work with the loaded DataFrame (df)
except FileNotFoundError:
    print(f"File not found at path: {file_path_elite}")
except Exception as e:
    print(f"An error occurred: {e}")

DataFrame loaded successfully.
DataFrame loaded successfully.
DataFrame loaded successfully.

In [11]:
df_elite['CPU'] = "i7-4600U"
df_p14s['CPU'] = "Ryzen_7_4750U"
df_x390['CPU'] = "i5-8365U"
df_elite['num_of_cores'] = 2
df_x390['num_of_cores'] = 4
df_p14s['num_of_cores'] = 8
#df_p14s['machine'] = "HP EliteBook 1040 G1"
#df_p14s['machine'] = "HP EliteBook 1040 G1"
#df_elite['machine'] = "HP EliteBook 1040 G1"

In [12]:
#print(df_x390.to_string(max_rows=None))

In [13]:
df_raw = pd.concat([df_elite, df_x390, df_p14s], ignore_index=True)

In [14]:
df_raw.head()

,Unnamed: 0,exec_time,dim,sparse,type,n_loops,sleep,cpu_info,curr_time,env,triangle,CPU,num_of_cores
0,0,0.000311,100,False,True,3,0.00,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240114020339,script,False,i7-4600U,2
1,1,0.000494,100,False,True,3,0.15,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240114020340,script,False,i7-4600U,2
2,2,0.000739,100,False,True,3,0.30,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240114020340,script,False,i7-4600U,2
3,3,0.000281,100,False,True,9,0.00,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240114020340,script,False,i7-4600U,2
4,4,0.000493,100,False,True,9,0.15,"{'Architecture': ('64bit', 'ELF'), 'Machine': ...",20240114020342,script,False,i7-4600U,2

In [26]:
#print(df_raw.to_string(max_rows=None))

In [16]:
df_raw.describe(include='all')

,Unnamed: 0,exec_time,dim,sparse,type,n_loops,sleep,cpu_info,curr_time,env,triangle,CPU,num_of_cores
count,216.00000,216.000000,216.000000,216,216,216.000000,216.000000,216,2.160000e+02,216,216,216,216.000000
unique,NaN,NaN,NaN,1,2,NaN,NaN,140,NaN,1,2,3,NaN
top,NaN,NaN,NaN,False,True,NaN,NaN,"{'Architecture': ('64bit', 'WindowsPE'), 'Mach...",NaN,script,False,i7-4600U,NaN
freq,NaN,NaN,NaN,216,108,NaN,NaN,72,NaN,216,108,72,NaN
mean,35.50000,0.669867,2550.000000,NaN,NaN,6.000000,0.150000,NaN,2.024011e+13,NaN,NaN,NaN,4.666667
std,20.83088,0.767553,2005.063358,NaN,NaN,3.006969,0.122759,NaN,2.297850e+03,NaN,NaN,NaN,2.500233
min,0.00000,0.000154,100.000000,NaN,NaN,3.000000,0.000000,NaN,2.024011e+13,NaN,NaN,NaN,2.000000
25%,17.75000,0.002985,100.000000,NaN,NaN,3.000000,0.000000,NaN,2.024011e+13,NaN,NaN,NaN,2.000000
50%,35.50000,0.289464,2550.000000,NaN,NaN,6.000000,0.150000,NaN,2.024011e+13,NaN,NaN,NaN,4.000000
75%,53.25000,1.247435,5000.000000,NaN,NaN,9.000000,0.300000,NaN,2.024011e+13,NaN,NaN,NaN,8.000000
max,71.00000,2.221667,5000.000000,NaN,NaN,9.000000,0.300000,NaN,2.024011e+13,NaN,NaN,NaN,8.000000

In [17]:
df_raw_centerpoints = df_raw.copy()

## centerpoints removed:

In [18]:
df_raw = df_raw[df_raw['num_of_cores'] != 4]
df_raw = df_raw[df_raw['dim'] != 2550]
df_raw = df_raw[df_raw['sleep'] != 0.15]

In [19]:
df_raw.describe(include='all')

,Unnamed: 0,exec_time,dim,sparse,type,n_loops,sleep,cpu_info,curr_time,env,triangle,CPU,num_of_cores
count,64.000000,64.000000,64.00000,64,64,64.000000,64.000000,64,6.400000e+01,64,64,64,64.000000
unique,NaN,NaN,NaN,1,2,NaN,NaN,33,NaN,1,2,2,NaN
top,NaN,NaN,NaN,False,True,NaN,NaN,"{'Architecture': ('64bit', 'WindowsPE'), 'Mach...",NaN,script,False,i7-4600U,NaN
freq,NaN,NaN,NaN,64,32,NaN,NaN,32,NaN,64,32,32,NaN
mean,35.500000,0.948605,2550.00000,NaN,NaN,6.000000,0.150000,NaN,2.024011e+13,NaN,NaN,NaN,5.000000
std,25.182508,0.968634,2469.36789,NaN,NaN,3.023716,0.151186,NaN,2.380068e+02,NaN,NaN,NaN,3.023716
min,0.000000,0.000257,100.00000,NaN,NaN,3.000000,0.000000,NaN,2.024011e+13,NaN,NaN,NaN,2.000000
25%,11.750000,0.001685,100.00000,NaN,NaN,3.000000,0.000000,NaN,2.024011e+13,NaN,NaN,NaN,2.000000
50%,35.500000,0.592119,2550.00000,NaN,NaN,6.000000,0.150000,NaN,2.024011e+13,NaN,NaN,NaN,5.000000
75%,59.250000,1.916287,5000.00000,NaN,NaN,9.000000,0.300000,NaN,2.024011e+13,NaN,NaN,NaN,8.000000
max,71.000000,2.221667,5000.00000,NaN,NaN,9.000000,0.300000,NaN,2.024011e+13,NaN,NaN,NaN,8.000000

In [20]:
# Second run, without centerpoints
df_raw.to_csv(f'df_raw.csv', sep=';', index=False)
df_raw.to_pickle(f'df_raw.pkl')

In [21]:
# Second run, inlcuding centerpoints
df_raw_centerpoints.to_csv(f'df_raw_centerpoints.csv', sep=';', index=False)
df_raw_centerpoints.to_pickle(f'df_raw_centerpoints.pkl')

In [22]:
df_only_centerpoints = df_raw_centerpoints.copy()

In [23]:
df_only_centerpoints = df_only_centerpoints[df_only_centerpoints['num_of_cores'] == 4]
df_only_centerpoints = df_only_centerpoints[df_only_centerpoints['dim'] == 2550]
df_only_centerpoints = df_only_centerpoints[df_only_centerpoints['sleep'] == 0.15]

In [24]:
df_only_centerpoints.describe()

,Unnamed: 0,exec_time,dim,n_loops,sleep,curr_time,num_of_cores
count,8.000000,8.000000,8.0,8.000000,8.00,8.000000e+00,8.0
mean,35.500000,0.158622,2550.0,6.000000,0.15,2.024011e+13,4.0
std,7.348469,0.012050,0.0,3.207135,0.00,1.516575e+01,0.0
min,25.000000,0.131184,2550.0,3.000000,0.15,2.024011e+13,4.0
25%,30.250000,0.159030,2550.0,3.000000,0.15,2.024011e+13,4.0
50%,35.500000,0.160069,2550.0,6.000000,0.15,2.024011e+13,4.0
75%,40.750000,0.162517,2550.0,9.000000,0.15,2.024011e+13,4.0
max,46.000000,0.171520,2550.0,9.000000,0.15,2.024011e+13,4.0

In [25]:
3*2*2*3*3*2

216